/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f5f5;
}

header{
  height: 500px;
  background-color: #3400ff;
}

nav{
 float: right;
 margin-right: 40px;
 margin-top: 15px;
 cursor: pointer; 
}

.nav-item{
  margin-right: 20px;
  color: #fff;

}

.nav-item-active{
  margin-right: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #5a31fc;
  font-weight: 400;
}
 
.logo{
  margin: 20px;
}
 
.header-text{
  color: #FFF;
  margin-left:60px;
  float: left;
  margin-top: 50px;
}

.header-text p  {
margin-top: 50px;
}

.header-text img  {
  margin-bottom: 10px;
}

.header-image{
  float: right;
}

.companies{
display: flex;
justify-content: space-around;
margin-top: 20px;
font-family: 'Righteous';
font-size: 20px;
font-weight:700;
}

.company-items{
  text-decoration: none;
  color: #000;

}

.api-heading{
  font-weight: 900;
  font-style: bold;
  margin-left: 90px;
  margin-top: 100px;
}

.cards{
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
}

.card{
  width: 20%;
  height: 250px;
  background-color: #fff;
  margin-right: 30px;  
  padding: 7px;
}

.card-active{
  margin-right: 30px;
  padding: 10px;
  width: 20%;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #000;
}

.card-logo{
  margin-left: 30px;
  margin-top: 30px;
}

.card-head-active{
  color: #000;
  margin-right: 30px;
}

.card-body{
  color: #000;
  font-size: ;
}

.blog-heading{
margin:50px 0 50px 90px;
}

.block-heading{
 margin-left: 90px;
}

.block-cards{
  margin-left: 90px;
  display: flex;
  flex-direction: row;
}


.block-card{
  height: 300px;
  width: 40%;
}