/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url(./Responsive.css);
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #f5f5f5;
}

header{
  height: 500px;
  background-color: #3400ff;
}

nav{
 float: right;
 margin-right: 40px;
 margin-top: 15px;
 cursor: pointer; 
}

.nav-item{
  margin-right: 20px;
  font-family: 'Poppins';
  color: #fff;
  font-weight: 100;
}

.nav-item-active{
  margin-right: 20px;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  color: #5a31fc;
  font-weight: 400;
}
 
.logo{
  margin: 20px;
}
 
.header-text{
  color: #FFF;
  margin-left:60px;
  float: left;
  margin-top: 50px;
}

.header-text p  {
margin-top: 50px;
}

.header-text img  {
  margin-bottom: 10px;
}

.header-image{
  float: right;
}

.companies{
display: flex;
justify-content: space-around;
margin-top: 20px;
font-family: 'Righteous';
font-size: 20px;
font-weight:700;
}

.company-items{
  text-decoration: none;
  color: #000;

}

.api-heading{
  font-weight: 900;
  font-style: bold;
  margin-left: 90px;
  margin-top: 100px;
}

/*** API cards ***/
.cards{
  margin-left: 90px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.card{
  width: 20%;
  height: 250px;
  background-color: #fff;
  margin-right: 30px;  
  padding: 7px;
}

.card-active{
  margin-right: 30px;
  padding: 10px;
  width: 20%;
  height: 250px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 5px 15px #000;
}

.card-logo{
  margin-left: 10px;
  margin-top: 30px;
}

.card-head-active{
  color: #000;
  margin-right: 30px;
  margin-left: 10px;  
}

.card-body{
  color: #000;
  word-wrap: break-word;
  font-size: 12px;
  margin-left: 10px;
  font-weight: 800;
}

.card-head{
  margin-left: 10px;
  margin-right: 30px;
}


/***Blog Section */
.blog-heading{
  margin:50px 0 50px 90px;
}


.blog-cards{
  margin: 0 90px 50px 90px;
  display: flex;
  justify-content: center;
  
}

.blog-card{
  height: 300px;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.blog-content{ 
background-color: #fff;
width: 300px;
height: 288px;
border-radius: 0 10px 10px 0;
display: flex;
flex-direction: column;
align-items: flex-start;
}

/*** Selecting all the elements the blog card */
.blog-content > h6, h3, small {
  margin: 20px 0 0 25px;
}

.blog-content > h6{
  color: #3400ff;
  font-weight: 900;
}

.blog-content > h3{
  font-weight: 900;
  letter-spacing: 1px;
}

 
.blog-author{
  align-self: flex-end;
  margin-left: -50px;
} 

/* 2 circles in the blog card */
.blog-card-bottom-image
{
  position: relative;
  margin-left: 290px;
  bottom: 50px;
  border: 5px solid;
  border-radius: 50%;
  border-color: #fff; /* To bring the border outside the vector image*/
}

.blog-author{
  position: relative;
  margin-left: 8px;
  bottom: 40px;
  font-weight: 800;
}

/*** FAQ Contents */
.faq-section{
display: flex;
height: 325px;
justify-content: space-between;
background-color: #E9EDFF;
}

.faq-content{
  width: 650px;
  display: flex;
  flex-direction: column;
}

.faq-content > h2, h4, h5, button{
  margin: 10px 0 0 90px;
}

.faq-content > h2{
  font-size: 30px;
  font-weight: 800;
}

.faq-content > h4{
  font-size: 15px;
  font-weight: 100;
}

.faq-content > h5{
  margin-top: 30px ;
}

.faq-content > button{
  width: 100px;
  height: 40px;
  background-color: #5A31FC;
  border: none;
  border-radius: 5px;
  color: #fff;
}


/*** DOWNLOAD section */
.download-section{
  display: flex;
  height: 200px;
  align-items: center;
}

.download-content{
  margin-left: 90px;
  font-weight: 800;
}

.download-content span{
  font-weight: 100;
}

.download-email{
  position: relative;  
  left: 420px;

}

.download-email input{
  width: 550px;
  padding: 12px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #E9EDFF;
  border-radius: 50px;
  border: none;
}

.down_button{
  position: relative;
  border: none;
  width: 100px;
  height: 40px;
  right: 198px;
  border-radius: 50px;
  background-color: #5A31FC;
  color: #E9EDFF;
}


/****Footer****/
.footer-section{
  display: flex;
  height: 200px;
  width: 100%;
  justify-content: space-between;
  background-color:#5A31FC;
  color: #fff;
  font-size: 12px;
}

.footer-left{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 0 0 90px;
}

.footer-right{
  margin: 0 30px 0 0px;
}

.list-items{
  list-style: none;
  border-right: 1px solid #fff; 
  padding: 0 15px;
}

.footer-left .list-items:first-child{
 border: none;
 padding: 0;
}

.list-items:last-child{
  border: none;
}

 .list{
  display: flex;
}

.logos-list{
  display: flex;
}

.footer-logo{
  width:120px;
  margin-bottom: 10px;
}

.footer-logos{
  margin-top: 70px;
  padding: 10px;
}
